*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: white;
    background-image:url("../images/barberChair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(72, 72, 72, 0.4);
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    height: 90%;
    padding: 10px;
    box-shadow: 5px 5px 12px rgb(255, 255, 255);
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 3%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
     "banner header header"
     "display-hour create display-day";
}



.banner {
    grid-area: banner;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 80%;
    min-height: fit-content;
    max-height: fit-content;
    overflow: hidden;
    text-align: center;
    grid-template-areas: 
        "banner-big"
        "w-message";
}

.turn-orange {
    background-color: rgb(255, 119, 0);
    box-shadow: 3px 3px 1px rgba(126, 126, 126, 0.4);
    border: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
    height: fit-content;
    max-height: 100%;
}

.banner-big {
    grid-area: banner-big;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height:fit-content;
}

.w-message {
    grid-area: w-message;
    max-height: fit-content;
    font-size: 2.2em;
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 2px rgb(255, 0, 0);
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3%;
}

.add-day {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        ". . ."
        ". add-day-button ."
        ". . .";
}

.add-day-button {
    grid-area: add-day-button;
    background-color: rgb(99, 99, 99);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

.add-day-button:hover {
    background-color: orangered !important;
    cursor: pointer;
}

.local-day-time {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    text-shadow: 4px 2px 2px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.display-hour {
    grid-area: display-hour;
    overflow: auto;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.display-hour::-webkit-scrollbar {
    display: none;
}

.create {
    grid-area: create;
    min-height: 100% !important;
    max-height: 100% !important;
}

.create-edit-day { /* add day form */
    display: none; /*grid or none, it is known*/
    width: 100%;
    height: 100%;
    min-height: 100% !important;
    row-gap: 1%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "form-header form-header form-header"
        "enter-date-day date date"
        "choose-open-hours open-hours open-hours"
        "choose-open-hours open-hours open-hours"
        ". create-edit-button .";
}

.create-edit-day::-webkit-scrollbar {
    display: none;
}

.book-appt { /* book form */ 
    display: none; /*grid or none, it is the way*/
    width: 100%;
    height: 100%;
    min-height: 100% !important;
    row-gap: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas:
        "form-header"
        "book-hours"
        "book-menu";
}

.book-hours {
    grid-area: book-hours;
    display: grid;
    width: 100%;
    height: 90%;
    max-height: 90%;
    overflow:scroll;
    padding: 5px;
    gap: 4%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.book-hours::-webkit-scrollbar {
    display: none;
}

.book-hours::-webkit-scrollbar {
    display: none;
}

.book-time {
    background-color: rgb(0, 0, 0, 0.6);
    box-shadow: 3px 3px 1px rgba(126, 126, 126, 0.4);
    border: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
    height: fit-content;
    max-height: 100%;
}

.book-time:hover {
    background-color: rgb(215, 215, 215) !important;
    box-shadow: 3px 3px 1px rgba(255, 0, 0, 0.9);
    color: black;
    cursor: pointer;
}

.book-menu {
    grid-area: book-menu;
    display: grid;
    width: 100%;
    height: fit-content;
    padding: 5px;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 1em;
    background-color: rgb(96, 96, 96, 0.2);
    grid-template-areas: 
        "book-barber . book-client"
        ". book-save-update .";
}

#book-barber, #book-client {
    background-color: rgba(72, 72, 72);
    color: #ffb65d;
}

.book-barber {
    grid-area: book-barber;
}

.book-client {
    grid-area: book-client;
}



.book-save-update {
    grid-area: book-save-update;
    background-color: rgb(58, 58, 58);
    box-shadow: 3px 3px 1px rgba(255, 255, 255, 0.4);
    background-color: rgb(60, 60, 60);
    font-size: 20px;
    text-align: center;
}


.book-save-update:hover {
    background-color: rgb(0, 91, 3) !important;
    cursor: pointer;
}

.book-delete:hover {
    background-color: rgb(131, 0, 0) !important;
    cursor: pointer;
}

.book-barbers, .book-client {
    font-size: 20px;
    text-align: center;
}

.form-header {
    grid-area: form-header;
    max-height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px orangered;
    
}

.enter-date-day {
    grid-area: enter-date-day;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.date {
    grid-area: date;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 3%;
    text-align: center;
    font-size: 20px;
}

.select-day {
    grid-area: select-day;
}

.choose-open-hours {
    grid-area: choose-open-hours;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.open-hours {
    grid-area: open-hours;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 3%;
    text-align: center;
    font-size: 20px;
}

#day, #month, #year, #open-hour, #open-minutes, #open-ampm, #close-hour, #close-minutes, #close-ampm {
    background-color: rgba(72, 72, 72, 0.4);
    color: white;
}

.create-save {
    grid-area: create-edit-button;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        ". . ."
        ". create-edit-button ."
        ". . .";
}

.create-edit-button {
    grid-area: create-edit-button;
    background-color: rgb(99, 99, 99) !important;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

.create-edit-button:hover {
    background-color: orangered !important;
    cursor: pointer;
}

.form-header, .enter-date-day, .date, .select-day, .choose-open-hours, .open-hours, .choose-barbers-header, .barbers, .create-edit-button {
    background-color: rgba(72, 72, 72, 0.4);
}

.display-day {
    grid-area: display-day;
    overflow: auto;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.display-day::-webkit-scrollbar {
    display: none;
}

.each-day {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
    grid-template-areas: 
        "day-date day-date"
        "day-date day-date"
        "day-edit-button day-delete-button"
    ;
    border: solid;
    border-color: rgb(0, 0, 0);
}

.day-date {
    grid-area: day-date;
}
.day-edit-button {
    grid-area: day-edit-button;
    background-color: rgb(0, 255, 21, 0.4);
}

.day-edit-button:hover {
    background-color: rgb(0, 255, 21);
}

.day-delete-button {
    grid-area: day-delete-button;
    background-color: rgb(255, 0, 0, 0.4);
}

.day-delete-button:hover {
    background-color: rgb(255, 0, 0);
}

.selected-time {
    background-color: rgba(19, 140, 0, 0.6);
    border: solid;
    border-color: azure;
}

.selected-day {
    background-color: rgba(19, 140, 0, 0.4);
    border: solid;
    border-color: azure;
}

.each-half-hour {
    display: grid;
    height: fit-content;
    /* gap: 1em; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
    grid-template-areas: 
        "appt-client-label appt-client"
        "appt-barber-label appt-barber"
        ". ."
        "appt-edit-button appt-delete-button"
    ;
    border: solid;
    border-color: rgb(0, 0, 0);
}

.appt-client-label {
    grid-area: appt-client-label;
}

.appt-client {
    grid-area: appt-client;
}

.appt-barber-label {
    grid-area: appt-barber-label;
}
.appt-barber {
    grid-area: appt-barber;
}

.appt-edit-button {
    grid-area: appt-edit-button;
    background-color: rgb(0, 255, 21, 0.4);
}

.appt-delete-button {
    grid-area: appt-delete-button;
    background-color: rgb(255, 0, 0, 0.4);
}

.appt-edit-button:hover {
    background-color: rgb(0, 255, 21);
}

.appt-delete-button:hover {
    background-color: rgb(255, 0, 0);
}

.selected-appt {
    background-color: rgba(19, 140, 0, 0.6);
    border: solid;
    border-color: azure;
}