body {
    color: white;
    background-image:url("../images/barberChair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(72, 72, 72, 0.4);
    
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    height: 90%;
    padding: 10px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 3%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
     "banner header header"
     "hour create day";
}

.banner {
    grid-area: banner;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3%;
}

.add-day {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        ". . ."
        ". add-day-button ."
        ". . .";
}

.add-day-button {
    grid-area: add-day-button;
    background-color: rgb(99, 99, 99);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

.local-day-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.hour {
    grid-area: hour;
}

.create {
    grid-area: create;
}

.create-edit-day {
    display: grid;
    width: 100%;
    height: 100%;
    row-gap: 3%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "form-header form-header form-header"
        "enter-date-day date date"
        "choose-open-hours open-hours open-hours"
        "choose-barbers-header barbers barbers"
        ". create-save-button .";
}

.form-header {
    grid-area: form-header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px orangered;
    
}

.enter-date-day {
    grid-area: enter-date-day;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.date {
    grid-area: date;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 3%;
    text-align: center;
    font-size: 20px;
}

.select-day {
    grid-area: select-day;
}

.choose-open-hours {
    grid-area: choose-open-hours;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.open-hours {
    grid-area: open-hours;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 3%;
    text-align: center;
    font-size: 20px;
}

#day, #month, #year, #hour, #minutes, #ampm {
    background-color: rgba(72, 72, 72, 0.4);
    color: white;
}

.choose-barbers-header {
    grid-area: choose-barbers-header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.barbers {
    grid-area: barbers;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 3%;
    text-align: center;
    font-size: 20px;
}

#barber-1, #barber-2, #barber-3, #barber-4, #barber-5, #barber-6, #barber-7, #barber-8, #barber-9, #barber-10 {
    background-color: rgba(72, 72, 72, 0.4);
    color: white;
}


.create-save {
    grid-area: create-save-button;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:
        ". . ."
        ". create-save-button ."
        ". . .";
}

.create-save-button {
    grid-area: create-save-button;
    background-color: rgb(99, 99, 99) !important;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

.form-header, .enter-date-day, .date, .select-day, .choose-open-hours, .open-hours, .choose-barbers-header, .barbers, .create-save-button {
    background-color: rgba(72, 72, 72, 0.4);
}
.create-edit-appt {
    display: none;
}

.day {
    grid-area: day;
}

.hour, .create, .day {
    background-color: rgba(16, 16, 16, 0.6);
}
